/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './tokens-default.scss';
@import './element-ui.scss';
@import './common.scss';

// 导入语言样式文件
@import './lang-en.scss';
@import './lang-zhcn.scss';
@import './lang-zhtw.scss';
@import './lang-ar.scss';

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #666;
  font-size: 14px;
}

#app {
  height: 100%;
  width: 100%;
}

@layer utilities {
  /* 隐藏 Chrome, Safari 和 Opera 的滚动条 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* 隐藏 IE, Edge 和 Firefox 的滚动条 */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
